#!/usr/bin/env bash

# >>> Alacritty >>>
# https://github.com/alacritty/alacritty/blob/master/INSTALL.md
{{ if eq .chezmoi.os "linux" -}}
    {{ if eq .chezmoi.osRelease.id "fedora" -}}
    sudo dnf install alacritty
    {{ else if eq .chezmoi.osRelease.id "arch" -}}
    sudo pacman -S alacritty
    {{- end -}}
{{ else if eq .chezmoi.os "darwin" -}}
brew install --cask alacritty
{{- end -}}
# <<< Alacritty <<<

# >>> tmux >>>
{{ if eq .chezmoi.os "linux" -}}
    {{ if eq .chezmoi.osRelease.id "fedora" -}}
    sudo dnf install tmux
    {{ else if eq .chezmoi.osRelease.id "arch" -}}
    sudo pacman -S atmux
    {{- end -}}
{{ else if eq .chezmoi.os "darwin" -}}
brew install tmux
{{- end -}}
# <<< tmux <<<

# >>> Fonts >>>
curl -L https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf -o ~/.local/share/fonts/MesloLGS\ NF\ Regular.ttf
curl -L https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf -o ~/.local/share/fonts/MesloLGS\ NF\ Bold.ttf
curl -L https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf -o ~/.local/share/fonts/MesloLGS\ NF\ Italic.ttf
curl -L https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf -o ~/.local/share/fonts/MesloLGS\ NF\ Bold\ Italic.ttf
# <<< Fonts <<< 

# >>> Antigen >>>
{{ if eq .chezmoi.os "linux" -}}
curl -L git.io/antigen > antigen.zsh
{{ else if eq .chezmoi.os "darwin" -}}
brew install antigen
{{- end -}}
# <<< Antigen <<<
